.product {
  padding: 50px 50px 0;
  color: #3a3a3a;
}

.product__subtitle {
  margin: 10px 0 8px;
  font-size: 22px;
  font-weight: 500;
}

.product__subtitle-accessories {
  margin: 30px 0 0;
}

.product__text {
  margin: 5px 0 0;
  line-height: 1.5;
}

@media screen and (max-width: 1030px) {
  .product {
    padding: 30px 0 0;
  }
}

@media screen and (max-width: 750px) {
  .product__subtitle {
    margin-top: 15px;
  }
}

@media screen and (max-width: 400px) {
  .product__subtitle {
    font-size: 18px;
  }

  .product__text {
    font-size: 14px;
    margin-top: 7px;
  }
}
