.table-page__content {
  display: flex;
}
.title {
  text-align: center;
  margin-bottom: 15px;
}

.filters {
  width: 250px;
  height: 100%;
}


.subtitle {
  font-size: 18px;
}

.filter__title {
  font-size: 14px;
  font-weight: bold;
}

.filter__checkbox {
  appearance: none;
  position: absolute;
}

.filter__label{
  padding: 3px;
  display: inline-block;
  position: relative;
}

.filter__label:has(.filter__checkbox:checked) {
  background-color:#4aa4ee;
  border-radius: 5px;
  color: azure;
}

.fieldset {
  /* border: 1px red solid; */
  margin: 0 0 10px;
  padding: 5px 2px;
  border-radius: 2px;
}