.title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__item_link {
  color: black;
  text-align: center;
}

.card__item_link:hover {
  color: black;
}

.card__item_image {
  max-width: 100%;
  max-height: 120px;
}

.card__item_name {
  margin: 0;
}

@media screen and (max-width: 750px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}