a {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

.root {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 85%;
  padding: 0;
}

@media screen and (max-width: 750px) {
  .container {
    max-width: 90%;
  }
}