.footer {
  margin-top: 15px;
  min-height: 50px;
  background-color: #1B64A1;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.footer__elements {
  display: grid;
  grid-template-columns: 1fr 190px;
  column-gap: 5px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer__copy {
  color: white;
  text-align: end;
}

.footer__copy:hover {
  color: white;
  opacity: .7;
}

@media screen and (max-width: 1010px) {
  .footer__elements {
    margin: 10px 0;
    grid-template-columns: 1fr;
    row-gap: 10px;
    text-align: center;
    font-size: 12px;
  }

  .footer__copy {
    text-align: center;
  }
}