.accessories {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
}

.accessory-card {
  display: flex;
  align-items: center;
}

.accessory-card__image {
  max-width: 130px;
  height: 130px;
  object-fit: contain;
  margin-right: 10px;
}

.accessory-card_image:hover {
  cursor: pointer;
}

.product__text a {
  text-decoration: underline;
  color: #1b64a1;
}

@media screen and (max-width: 400px) {
  .accessory-card {
    flex-direction: column;
    margin-bottom: 10px;
  }
}
