.list-item {
    display: grid;
    grid-template-columns: repeat(2, 160px) 1fr;
}

.list-item__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}