.table-page__content {
  display: flex;
}

.filters {
  width: 250px;
  height: 100%;
}

.subtitle {
  font-size: 18px;
}

.filter-title {
  font-size: 14px;
}

.table {
  border: 1px red solid;
  margin: 0;
  padding: 0;
  list-style: none;
}