.search {
  display: flex;
  justify-content: center;
}
.search_input {
  height: 40px;
  padding: 0;
  width: 85%;
  margin: 10px 0;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border: 0.75px rgb(238, 238, 238) solid;
  border-bottom: 1px rgb(200, 200, 200) solid;
  border-radius: 5px;
}

.search_input::placeholder {
  color: rgb(150, 150, 150);
}

.search_input:focus {
  outline: 0;
  outline-offset: 0;
}

@media screen and (max-width: 400px) {
  .search_input {
    font-size: 13px;
  }
}
