.filters {
  width: 250px;
  height: 100%;
}

.filters__button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 15px;
  background-color: #1B64A1;
  color:white;
}

.filters__button:hover {
  opacity: .9;
}