.filter__checkbox {
  appearance: none;
  position: absolute;
}

.filter__label{
  padding: 3px;
  margin: 1px 2px;
  display: inline-block;
  position: relative;
}

.filter__label:has(.filter__checkbox:checked) {
  background-color:#4aa4ee;
  border-radius: 5px;
  color: azure;
}